@import "tailwindcss";
@plugin "flowbite/plugin";

@source "../index.html" "./src/**/*.{ts,tsx,js,jsx}";

@theme {
    --color-primary: pink;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
    overflow-x: hidden;
}
